
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: auto; margin-right: auto; width: 700px;">
    <p><h4 style="color:#1D7074">This project was create for course work</h4></p>
    <p>Objective:</p>
    <p>
        Develop the structure of the website and implement a dynamic website.
        The minimum number of pages on a website is - 5 pages.
        Develop a convenient system for navigating the web-site.
        Implement the storage of the content of some pages of a website in the database, provide for the possibility of remote editing the content of pages of the website.
        Implement the demarcation of categories of users of the site (at least two categories) with user registration, storage of registration information in the database, authorization and organization of user access to the website in accordance with certain rights.
    </p>
    <br />
</div>

