
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TourismWorld.Models

<div style="margin-left: auto; margin-right: auto; width: 700px;">
    <div style="width: 100%; height: 400px; ">
        @{
            Class1 a = ViewBag.Hotels as Class1;
            <img src="~/Content/img/Hotels/@a.img_src" style=" height: 400px;" />
        }
    </div>
    <div>
        <p>
            <ul>
                <li>@a.hotel_name</li>
                <li>Stars: @a.rank</li>
                <li>Country: @a.country_name</li>
                <li>City: @a.cities_name</li>
            </ul>
        </p>
    </div>
    <div>
        <h3 style="color:black;">Main amenities</h3>
        <ul>
            <li>256 smoke-free guestrooms</li>
            <li>2 restaurants</li>
            <li>Outdoor pool</li>
            <li>Rooftop terrace</li>
            <li>Breakfast available</li>
            <li>Free area shuttle</li>
            <li>Fitness center</li>
            <li>Self parking</li>
            <li>Spa services</li>
            <li>Business center</li>
            <li>Airport shuttle</li>
            <li>24-hour front desk</li>
            <li>Free WiFi </li>
         </ul>
    </div>
</div>

