
@{
    ViewBag.Title = "Fortourists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left: auto; margin-right: auto; width: 700px;">
    <p><h4 style="color:#1D7074">Check the availability of the following documents:</h4></p>
    <p>
        <ul>
            <li>international passport;</li>
            <li>voucher;</li>
            <li>insurance policy;</li>
            <li>air ticket;</li>
            <li>
                <span>
                    if necessary, notarized consent to leave the child in accordance
                </span><br />
            </li>
        </ul>
    </p>
    <p>We recommend to take with you photocopies of foreign and Russian passports, birth certificates of the child, if you fly with your child.</p>
    <p>
        <span>
            If you bring credit / debit cards with you, write down the support phone numbers of the banks that issued them separately. In case of loss / theft of cards
        </span>
        <span>
            call customer service immediately to block them.
        </span>
    </p>
    <br />
    <p><h4 style="color:#1D7074">Check your flight ticket and check the airport and departure time.</h4></p>
    <p>Do not forget to read the rules for the preflight and postflight inspections.</p>
    <br />
    <p><h4 style="color:#1D7074">Carefully read the insurance policy on the insurance policy.</h4></p>
    <p>It is recommended to always carry an insurance policy with you. Read the Insured's Guide, which will give you a general idea of ​​the system of medical insurance abroad.</p>
    <br />
    <p><h4 style="color:#1D7074">Print a tourist guide</h4></p>
    <p>For your convenience, there are links on the pages of countries containing all the necessary information and contact details of support services in countries of rest.</p>
</div>

