@model tourismwebEntities
@using System.Data.Entity
@using System.Collections.Generic;
@using System.Linq;
@using System.Web.Mvc;
@using TourismWorld.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var pur = Model.purchases.Select(a => new { a.hotel1.id, a.date, a.hotel1.hotel_name, a.hotel1.img_src });
}

<div style="position: relative; margin-left: auto; margin-right: auto; width: 500px;">
    <h2 style="color:black;">Your order</h2>
    <ul>
        @{
            foreach (var purchase in pur)
            {
                <li class="hotels border">
                    <a href="/Home/About/@purchase.id">
                        <img src="~/Content/img/Hotels/@purchase.img_src" class="imghoteks" />
                    </a>
                    <div class="infospis">
                        @purchase.hotel_name
                    </div>
                    <div class="infospis">
                        @purchase.date.ToShortDateString()
                    </div>
                </li>
            }
        }
    </ul>
</div>

