
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative; margin-left: auto; margin-right: auto; width: 700px;">
    <h2 style="color:black;">Your order</h2>
    <ul>
        <li class="hotels border">
            <a href="/Home/About/1">
                <img src="#" class="imghoteks" />
            </a>
            <div class="infospis">
            </div>
            <div class="infospis">
                <div style="float: left; height:100%;">
                </div>
                <img src="~/Content/img/countries/" style="height:100%; " />
            </div>
            <div class="infospis">
                Stars:
            </div>
            <input type="submit" name="order" value="Order" class="glavknop height">
        </li>
        <li class="hotels border"></li>
        <li class="hotels border"></li>
    </ul>
</div>

