@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative; margin-left: auto; margin-right: auto; width: 500px;">
    <h2 style="color:black;">Your order</h2>
    <ul>
        @{
            foreach (var hotel in ViewBag.Hotel)
            {
                <li class="hotels border">
                    <form action="/Home/Shop" method="post">
                        <a href="/Home/About/1">
                            <img src="~/Content/img/Hotels/@hotel.img_src" class="imghoteks" />
                        </a>
                        <div class="infospis">
                            @hotel.hotel_name
                        </div>
                        <div class="infospis">
                            <img src="~/Content/img/basket.png" />
                        </div>
                        <input type="hidden" name="id" value="@hotel.id">
                        <input type="submit" name="Confirm" value="Confirm" class="glavknop height">
                    </form>
                </li>
            }
        }
    </ul>
</div>

