
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<a95c4824-a27a-4f34-b884-d081b03029d9>&lang=ru_RU" type="text/javascript">
    </script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/script.js"></script>
}
    <div  class="conteiner">
        <div style="position: relative; margin-left: auto; margin-right: auto; width: 700px;">
            <div id="map" style="width: 100%; height: 400px; "></div>
            <div>
                <p>
                    You can't order anyone naumber in anyone hotels at:<br />
                    Russia, Novosibirsk, Nemirovicha-Danchenko street, 136, NSTU
                </p>
                <p>
                    Number: +7 (999) 999-99-99<br />
                    E-mail: touristivworld@agent.kursovic.com
                </p>
                <p>
                    Write to the agency:<br />
                    999-999-99  (Nemitkym Alex)<br />
                    WhatsApp: +99999999999<br />
                    mon, tue, wed, thu, fri, sat: 10:00 - 21:00<br />

                    sun: 10:00 - 20:00
                </p>
            </div>
        </div>
    </div>
