<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourism World</title>
    @RenderSection("Scripts", false)
    <link href="~/Content/Styles.css" rel="stylesheet">
    @RenderSection("Style", false)
    <link rel="icon" type="image/png" href="~/destination.png" />
</head>
<body>
    <div class="header">
        <div id="title">
            <a href="/Home/Index">
                <img src="~/Content/img/TourismWorld.png" class="imgtitle" />
            </a>
        </div>
        <ul style=" margin: 0; height: 100%;">
            <li class="top"><a href="/Home/Fortourists">For tourists</a></li>
            <li class="top"><a href="/Home/Wherebuy">Where buy</a></li>
            <li class="top"><a href="/Home/Aboutcompany">About company</a></li>
            <li class="top"><a href="/Home/Signin">Sign in</a></li>
        </ul>
        <form id="search">
            <input type="text" name="search" placeholder="Поиск по сайту" class="searchtext">
            <input type="image" src="~/Content/img/Search.png" class="find">
        </form>
    </div>
    <div style="position: relative; margin-top: 65px; min-height:100%; min-width: 1280px; ">
        <div style="padding-bottom: 60px;">
            @RenderBody()
        </div>
        <footer class="bottom">
            <div style=" top: 20px; bottom: 20px; position: relative; margin-left: 10px; font-weight: bold; color:white;">
                © 2019 Nikita Stepashkin, write to all questions at 33stepashkin33@gmail.com
            </div>
        </footer>
    </div>
</body>
</html>
